.logo-white {
  filter: brightness(100);
}
.nav-text {
  color: #fff;
  font-weight:bold;
}
.map-container {
  background-color: #f5cc52;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.leaflet-container {
  height: 100%;
}
.form-group > input {
  width: 100%;
}